interactions:
- request:
    body: '{"text": "Hello again!", "recipient": {"id": "946773412111690"}, "type":
      "message", "channelId": "facebook", "from": {"id": "726774820806739"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://facebook.botframework.com/v3/conversations/946773412111690-PcBotBuilderSample/activities
  response:
    body: {string: '{}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
