interactions:
- request:
    body: '{"recipient": {"id": "946773412111690"}, "channelId": "facebook", "type":
      "message", "attachments": [{"content": {"text": "JPEG image", "title": "A static
      image", "images": [{"url": "https://docs.microsoft.com/en-us/bot-framework/media/designing-bots/core/dialogs-screens.png"}]},
      "contentType": "application/vnd.microsoft.card.hero"}, {"content": {"title":
      "An animation", "images": [{"url": "http://i.giphy.com/Ki55RUbOV5njy.gif"}],
      "subtitle": "GIF image"}, "contentType": "application/vnd.microsoft.card.hero"}],
      "from": {"id": "726774820806739"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://facebook.botframework.com/v3/conversations/946773412111690-PcBotBuilderSample/activities
  response:
    body: {string: '{}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
