interactions:
- request:
    body: '{"text": "Error!", "recipient": {"id": "946773412111690"}, "type": "message",
      "channelId": "facebook", "from": {"id": "726774820806739"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://facebook.botframework.com/v3/conversations/123/activities
  response:
    body: {string: "{\r\n  \"error\": {\r\n    \"code\": \"ServiceError\",\r\n   \
        \ \"message\": \"SendActivityToUserAsync FAILED: {\\\"error\\\":{\\\"message\\\
        \":\\\"(#100) Parameter error: You cannot send messages to this id\\\",\\\"\
        type\\\":\\\"OAuthException\\\",\\\"code\\\":100,\\\"fbtrace_id\\\":\\\"Gwwi2G\\\
        \\/FIZj\\\"}}\"\r\n  }\r\n}"}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 400, message: Bad Request}
version: 1
